.appRoot {
  display: flex;
  height: 100%;
  flex-direction: column;
  background: #eee;
}


:local(.emHeight) {
  height: 3em;
}


.headerLayout {
  flex: none;
  background: #535353;
  color: #fff;
}


.header {
  composes: emHeight;
  width: 1024px;
  margin: 0 auto;
  display: flex;


  .logoBox {
    flex: 1 1 auto;
    justify-content: flex-start;

    .logo {
      float: left;
      margin-top: 0.5em;

      a {
        color: #00EDC9;
        font-size: 1.75em;
        font-weight: 300;
      }
    }

    .logoLine {
      float: left;
      margin-top: 1em;
      padding: 0 5px;
    }

    .logoDoc {
      float: left;
      margin-top: 0.5em;

      a {
        color: #fff;
        font-size: 1.75em;
        font-weight: 300;
      }
    }
  }

  .navi {
    flex: 0 0 auto;
    justify-content: flex-end;
    flex-direction: row;

    .naviLink {
      margin: 1em 0;
      padding-right: 1em;
      float: left;
    }
  }
}

.container {
  flex: 1 0 auto;
  width: 1024px;
  margin: 0 auto;
  display: flex;

  .content {
    flex: auto;
  }

  .right {
    flex: auto;
  }
}

.footer {
  flex: none;
  background: #edd
}

.footer {
  composes: emHeight;
}