* {
  user-select: none;
}

.main-app {
    background: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

  h1 {
    font-size: 20em;
    margin:0;
    color: dimgray;
    cursor: pointer;
  }

  .world {
    font-size: 5em;
    color: dimgray;
  }
}